<form [formGroup]="regForm">
    <div formGroupName="quantitePrixFG">
        <div class="title">Informations sur les quantités et les prix de ventes</div>

        <div class=" row ">
            <div class="col-sm-6 ">
                <div class="title-field">Quantité totale à fabriquer</div>
                <mat-form-field floatLabel="never" [style.width.px]="100">
                    <input type="number" matInput required placeholder="Quantité" formControlName="quantite_fabriquer">
                </mat-form-field>
            </div>
            <div class="col-sm-6 ">
                <div class="title-field">Supports destinés à l'export </div>
                <mat-radio-group aria-label="selectionner une option" formControlName="export">
                    <mat-radio-button value="Oui">Oui</mat-radio-button>
                    <mat-radio-button value="Non">Non</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="title-field">Supports destinés à la vente</div>
        <div class="row justify-content: space-around">
            <div class="col-sm-6">
                <mat-form-field [style.width.px]="300">
                    <mat-label>Destination</mat-label>
                    <mat-select required formControlName="destination_vente">
                        <mat-option *ngFor="let destination_vente of destination_ventes"
                            [value]="destination_vente.value">
                            {{destination_vente.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <mat-form-field [style.width.px]="80">
                    <input type="number" matInput required placeholder="Quantité  " formControlName="quantite_vente">
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <mat-form-field [style.width.px]="150">
                    <input type="number" matInput required placeholder="Prix de vente unitaire"
                        formControlName="prix_unitaire">
                    <mat-icon style="font-size: 15px" matPrefix>euro_symbol</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="title-field">Supports distribués gratuitement</div>
        <div class=" row ">
            <div class="col-sm-8">
                <mat-form-field [style.width.px]="350">
                    <mat-label>Destination</mat-label>
                    <mat-select required formControlName="destination_gratuit">
                        <mat-option *ngFor="let destination_gratuit of destination_gratuits"
                            [value]="destination_gratuit.value">
                            {{destination_gratuit.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field [style.width.px]="80">
                <input type="number" matInput required placeholder="Quantité  " formControlName="quantite_gratuit">
            </mat-form-field>

        </div>

    </div>
    <button mat-raised-button matStepperPrevious style="float: left;">Précédent</button>
    <button mat-raised-button color="primary" matStepperNext (click)="json()" style="float: right;">Suivant</button>
</form>