.title{
    color: #c2185b ;
    font-size: 20px ;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .title-field{
  }

  .alt.mat-form-field {
        width: auto !important;
      }
   .alt.mat-select {
        max-width: 100%;
        width: auto;
      }  
    

  
  .mat-radio-button{
    margin: 15px 15px; 
  }