<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SDRM</h5>
                <p>Société pour l’administration du droit de reproduction mécanique</p>

                <p>225 avenue Charles de Gaulle<br>92528 Neuilly sur Seine Cedex <br>
                    01 47 15 47 15</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto" >

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">À PROPOS DU SITE</h5>

                <ul class="list-unstyled" >
                    <li>
                        <a href="#!" >Horaires d'ouverture
                                et plan d'accès</a>
                    </li>
                    <li>
                        <a href="#!">Mentions légales et CGU</a>
                    </li>
                    <li>
                        <a href="#!">Politique de confidentialité et cookies</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">DOCUMENTS</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Statuts de la SDRM</a>
                    </li>
                    <li>
                        <a href="#!">Code de la propriété
                                intellectuelle (version complète)</a>
                    </li>
                    <li>
                        <a href="#!">Politiques générales de la SDRM</a>
                    </li>
                    <li>
                        <a href="#!">Rapport de transparence et ses annexes (comptes et rapport d’activité)</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">AUTRES SITES</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Sacem</a>
                    </li>
                    <li>
                        <a href="#!">UNAC</a>
                    </li>
                    <li>
                        <a href="#!">SCPP</a>
                    </li>
                    <li>
                        <a href="#!">SPPF</a>
                    </li>
                    <li>
                        <a href="#!">SDRM à l’international</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <hr>

    <hr>

    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.sacem.fr/"> sacem.fr</a>
    </div>


</footer>
<!-- Footer -->