<form [formGroup]="regForm">
    <div class="title">Informations sur les intervenants</div>
    <mat-tab-group>
        <mat-tab label="Fabricant*">
            <fabricant [regForm]=regForm> </fabricant>
        </mat-tab>
        <mat-tab label="Donneur d'ordre de fabrication ">
            <donneur-ordre [regForm]=regForm></donneur-ordre>
        </mat-tab>
        <mat-tab label="Distributeur">
            <distributeur [regForm]=regForm></distributeur>
        </mat-tab>
    </mat-tab-group>
    <button mat-raised-button matStepperPrevious style="float: left;">Précédent</button>
    <button mat-raised-button color="primary" matStepperNext (click)="json()" style="float: right;">Suivant</button>

</form>