<form [formGroup]="regForm">
    <div formGroupName="supportFG" class="example-form">
        <div class="title">Informations sur le support</div>

        <!-- Auto-resize
        https://stackblitz.com/edit/angular-input-dynamic-width?file=app%2Finput-text-width-example.html -->

        <div class="example-container" >
        <mat-form-field #formFieldInput [ngStyle]="{'width.px': width}" class="input-box">

            <input placeholder="Titre de l'enregistrement :" formControlName="titre" 
            matInput #inputText matInput [(ngModel)]="inputExample" (paste)="resizeInput(inputText.value)"
            (cut)="resizeInput(inputText.value)"  (input)="resizeInput(inputText.value)" autofocus  required>
        </mat-form-field>

        <span #invisibleText id="invisibleTextID">{{ inputExample }}</span>
    </div>
        <!-- <mat-hint>Erreur!</mat-hint>
    <mat-error *ngIf="titreFormControl.hasError('required')">
        Un titre est <strong>requis</strong>
    </mat-error> -->

        <!-- https://stackblitz.com/angular/enjoedqxkjp?file=app%2Finput-error-state-matcher-example.ts  -->


        <mat-form-field [ngStyle]="{'width.px': width1}" class="input-box">
            <input matInput required placeholder="Interprète principal" formControlName="interprete"
            #inputText1 matInput [(ngModel)]="inputExample1" (paste)="resizeInput(inputText1.value)"
            (cut)="resizeInput(inputText1.value)"  (input)="resizeInput(inputText1.value)" autofocus >
        </mat-form-field>
        <span #invisibleText1 id="invisibleTextID">{{ inputExample1 }}</span>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput type="number"  numbermaxlength="5" required placeholder="Numéro de référence" formControlName="ref">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput maxlength="13" placeholder="Code EAN13 (code barre)" formControlName="code_EAN">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Type de support </mat-label>
                        <mat-select required formControlName="type_support">
                            <mat-option *ngFor="let support of supports" [value]="support.value">
                                {{support.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field>
                        <input matInput required placeholder="Numéro de support " formControlName="numero_support">
                        <mat-hint>(Si votre enregistrement fait partie d'un coffret, CD1=1; CD2=2...)</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>
    <div class="position-button">
        <button mat-raised-button color="primary" matStepperNext (click)="json()" style="float: right;">Suivant</button>
    </div>
</form>