.example-form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .basic-container {
    padding: 30px;
    
  }

  .position-button {
margin-top:50px;
  }

  .title{
    color: #c2185b ;
    font-size: 20px ;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  /* field ajust */
  .input-box {
    min-width: 200px;
    width: 300px;
    max-width: auto;
    text-align: left;
  }


  .example-container {
    display: flex;
    flex-direction: column;
  }

  #invisibleTextID,
  #inputTextID {
  font: inherit;
}

   ::ng-deep .mat-form-field-flex {
    width: 102% !important;
  }

  #invisibleTextID {
    white-space: pre;
    
    position: absolute;
    height: 0;
    overflow: hidden;
  }
  
  #inputText {
    padding: 0 3px 0 3px;
  }
