<div class="pt-3"> Informations sur les Ayants-droit</div>
<div class="pb-3">
    <button mat-button (click)="openDialog('Ajouter',{})" mat-flat-button color="primary" style="float: right;">Ajouter
        un ayant-droit</button>
</div>

<!-- <form [formGroup]="regForm">
        <div formArrayName="oeuvres">

            
    </form> -->
            <button (click)="setAyantForm()">Add</button>
    
   


        <mat-table [dataSource]="dataSource" #mytable class=" mat-elevation-z8 mt-4">

            <ng-container matColumnDef="nom">
                <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                <mat-cell *matCellDef="let y; let i = index;">{{y.nom}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="prénom">
                <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
                <mat-cell *matCellDef="let y; let i = index;">{{y.prenom}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="profession">
                <mat-header-cell *matHeaderCellDef> Profession</mat-header-cell>
                <mat-cell *matCellDef="let y">{{y.profession}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let element" class="action-link">
                    <mat-icon (click)="openDialog('Modifier',element)">edit</mat-icon>
                    <mat-icon (click)="openDialog('Supprimer',element)">delete</mat-icon>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>



        <!-- <form [formGroup]="regForm"> -->
        <!-- <div formGroupName="listeoeuvresFG">
            <div  *ngFor="let x of ayants.controls; let i = index">
                    <ng-container matColumnDef="nom">
                            <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                            <mat-cell *matCellDef="let y; let i = index;">{{y.nom}}</mat-cell>>

                        </ng-container> -->

        <!-- <div class="title">Listes des Ayants droits</div>
                <div class=" pb-5">
                    <button mat-button (click)="openDialog('Ajouter',{})" mat-flat-button color="primary"
                        style="float: right;">Ajouter un
                        ayant-droit</button>
                </div>

                <div class="container ">
                    <mat-table [dataSource]="dataSource" #mytable class=" mat-elevation-z8 mt-4">


                        <ng-container matColumnDef="profession">
                            <mat-header-cell *matHeaderCellDef> Profession</mat-header-cell>
                            <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                            <mat-cell *matCellDef="let y; let i = index;">{{y.profession}}</mat-cell>>

                        </ng-container>

                        <ng-container matColumnDef="nom">
                            <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                            <mat-cell *matCellDef="let y; let i = index;">{{y.nom}}</mat-cell>>

                        </ng-container>

                        <ng-container matColumnDef="prenom">
                            <mat-header-cell *matHeaderCellDef> Prenom </mat-header-cell>
                            <mat-cell *matCellDef="let y; let i = index;">{{y.prenom}}</mat-cell>>

                        </ng-container>


                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="action-link">
                                <mat-icon (click)="openDialog('Modifier',element)">edit</mat-icon>
                                <mat-icon (click)="openDialog('Supprimer',element)">delete</mat-icon>
                            </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div> 
            </div> 
        </div>-->

        <!-- <div class=" pt-5">

        <button mat-raised-button color="primary" (click)="json()" style="float: right;">JSON</button>
    </div> -->

        <!-- </form> -->



        <!-- --------------------- template driven -------------------- -->

        <!-- <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="profession"> -->

        <!-- -----------------with filter search ----------- -->
        <!-- <th class="header" mat-header-cell *matHeaderCellDef>
            Profession
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>Search</mat-label>
                <input matInput [formControl]="nameFilter">
            </mat-form-field>
        </th> -->

        <!-- <mat-header-cell *matHeaderCellDef> Profession </mat-header-cell>
        <td mat-cell *matCellDef="let person">{{person.profession}}</td>
    </ng-container>

    <ng-container matColumnDef="profession1">
        <mat-header-cell *matHeaderCellDef> profession1</mat-header-cell>
        <mat-cell *matCellDef="let x">
            <mat-form-field>
                <mat-select [(ngModel)]="x.profession">
                    <mat-option *ngFor="let i of ayant_droits" [value]="i.value">
                        {{i.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let y">{{y.nom}}</mat-cell>>

    </ng-container>


    <ng-container matColumnDef="nom1">
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let y">
                <input type="text" [(ngModel)]="y.nom" placeholder="nom"> 
        </mat-cell>

    </ng-container>





    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let person; columns: columnsToDisplay"></tr>



</table> -->




        <!-- 
    -----------basique row add OK--------------------- -->


        <!-- <div class="col-md-2" [formGroup]="addForm">
    <div class="form-group">
        <label class="label-control">Liste des ayants-droits</label>
        <br>
        <label class="switch">
            <input type="checkbox" class="form-control" formControlName="items">
            <span class="slider round">
                <span class="on">
                    {{addForm.value.items_value}}
                </span>
                <span class="off">
                    {{addForm.value.items_value}}
                </span>
            </span>
        </label>


        <button (click)="onAddRow()" *ngIf="addForm.get('rows')" mat-flat-button color="primary">Ajouter un
            ayant-droit</button>

        <table [dataSource]="dataSource" >
                <tr>
                        <th >Profession :</th>
                        <th >Nom :</th>
                        <th >Prenon :</th>
                    </tr>
            <tbody>
                <tr *ngFor="let row of addForm.get('rows')?.controls;let index = index;">



                    <td>
                               
                        <select [formControl]="row.get('profession')">
                            <option *ngFor="let ayant_droit of ayant_droits;" [value]="ayant_droit.viewValue">
                                {{ayant_droit.viewValue}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input [formControl]="row.get('nom')">
                    </td>
                    <td>
                         <input [formControl]="row.get('prenom')">
                    </td>
                    <td>
                        <button mat-button>
                            <mat-icon (click)="onRemoveRow(index)">delete</mat-icon>
                        </button>
                    </td>




                </tr>

            </tbody>
        </table>

        <button (click)="json()" mat-flat-button color="primary">json</button>


    </div>
</div>

<pre>{{rows.value | json}}</pre> -->


        <!-- --------------------------------------------------
------------------------------------------------- -->

        <!-- 
<div class="col-md-2" [formGroup]="addForm">
    <div class="form-group">
        <label class="label-control">Liste des ayants-droits</label> 

        <button (click)="onAddRow()" *ngIf="addForm.get('rows')" mat-flat-button color="primary">Ajouter un
            ayant-droit</button>

        <table [dataSource]="dataSource" #table class="my-table mat-elevation-z8 mt-4">
                
                        <tr>
                                <th >Profession :</th>
                                <th >Nom :</th>
                                <th >Prenon :</th>
                            </tr>
            <tbody>
                <tr *ngFor="let row of addForm.get('rows')?.controls;let index = index;">



                    <td>
                        name : <input [formControl]="row.get('ayant_droit')">


                    </td>
                    <td>
                        <input type="text" name="name" [(ngModel)]="row.nom" required>
                    </td>
                    <td>
                        <button mat-button>
                            <mat-icon (click)="onRemoveRow(index)">delete</mat-icon>
                        </button>
                    </td>


                    <ng-container matColumnDef="profession">
                        <mat-header-cell *matHeaderCellDef> Profession </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.profession}}
                            <mat-form-field>
                                <mat-select required [(ngModel)]="data.profession">
                                    <mat-option *ngFor="let ayant_droits of ayant_droits"
                                        [value]="ayant_droit.viewValue">
                                        {{ayant_droit.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>





                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>

        <button (click)="json()" mat-flat-button color="primary">json</button>


    </div>
</div>

<pre>{{rows.value | json}}</pre> -->


        <!-- 
            <thead>
                <button (click)="onAddRow()" *ngIf="addForm.get('rows')" mat-flat-button color="primary">Ajouter un ayant-droit</button>
            </thead>
            <tbody>
                <tr *ngFor="let row of addForm.get('rows')?.controls;let index = index;">


                    
          <td>
            name : <input [formControl]="row.get('name')">
            
          </td>
          <td>
            Nom : <input [formControl]="row.get('nom')">
          </td>
          <td>
            Prenon : <input [formControl]="row.get('prenom')">
          </td>
          <td>
            <button (click)="onRemoveRow(index)" mat-flat-button color="primary">Remove</button>
          </td>



          
                </tr>
                
            </tbody>
        </table> -->


        <!-- <table>
    <tr>
        <th>
            Nom
        </th>
    </tr>
    <tr *ngFor="let i of data ">
        <td>{{i.nom}}</td>
    </tr>
</table> -->