<h1 mat-dialog-title><strong>{{action}} &nbsp; un ayant droit</strong> </h1>

<div *ngIf="action != 'Supprimer'; else elseTemplate">
    <div mat-dialog-content [style.height.px]="250">
    
        <mat-form-field [style.width.px]="300">
            <input matInput placeholder="Nom" [(ngModel)]="local_data.nom">
        </mat-form-field>

        <mat-form-field [style.width.px]="300">
            <input matInput placeholder="Prénom" [(ngModel)]="local_data.prenom">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Profession</mat-label>
                <mat-select [(ngModel)]="local_data.profession" >
                    <mat-option *ngFor="let i of ayant_droits" [value]="i.value">
                        {{i.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

    </div>
</div>
<ng-template #elseTemplate>
    <div>
        Supprimer l'ayant : <b>{{local_data.nom}} &nbsp; {{local_data.prenom}} </b> ?
    </div>
</ng-template>


<div >
    <button mat-button (click)="closeDialog()" mat-raised-button >Annuler</button>
    <button mat-button (click)="doAction()" mat-flat-button color="primary" style="float: right;" >{{action}}</button>

</div>