<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
<!-- <mat-toolbar>
            <form>
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
      
          </mat-toolbar> -->

<mat-toolbar class="shadow" color="primary" >
    <mat-toolbar-row>
        <button mat-icon-button  (click)="toggleSidenav()">
            <!-- <mat-icon>menu</mat-icon> -->
            <span class="button-text-size" > Votre espace </span>
        </button>
     

        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <ul fxLayout fxLayoutGap="0px">
                <!-- <ul fxLayout fxLayoutGap="0px" fxHide.xs> -->

                <button mat-button matTooltip="Profil">
                    <mat-icon class="material-icons md-48" href="#">person_outline</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="belowMenu">
                    <mat-icon>help_outline</mat-icon>
                </button>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>

                <button mat-button>
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>