

<mat-nav-list>
    <h2 matSubheader> Suivi de vos demandes d'autorisation </h2>
    <a mat-list-item [routerLink]="'/demande'">
        <mat-icon class="material-icons">note_add</mat-icon> Déposer une demande d'autorisation
    </a>
    <a mat-list-item [routerLink]="'/create-account'">
        <mat-icon class="material-icons">list_alt</mat-icon> Liste de vos demandes d'autorisation
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>
<mat-nav-list>
    <h2 matSubheader> Votre espace </h2>
    <a mat-list-item [routerLink]="'/create-account'">
        <mat-icon href="#" matBadgeColor="accent">message</mat-icon> Messages
    </a>
    <a mat-list-item [routerLink]="'/create-contact'">
        <mat-icon href="#">person_outline</mat-icon> Modifier votre profil
    </a>
    <a mat-list-item [routerLink]="'/create-contact'">
        <mat-icon href="#">help_outline</mat-icon> Contacter le support
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>


<mat-nav-list>
    <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>
        <mat-icon class="material-icons" href="#">exit_to_app</mat-icon>
        Se déconnecter
    </a>
</mat-nav-list>

