.title{
  color: #c2185b ;
  font-size: 20px ;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.mat-radio-button{
  margin: 15px 15px; 
}

.mat-table {
  display: block;
}
/* mat-expansion-panel-header {
  background-color: rgb(167, 1, 84);
  } */

  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 10 0;
    box-sizing: border-box;
  }

  .mat-cell, .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 18px;
  }

  .mat-header-row {
    min-height: 50px;
  }

  .mat-row {
    min-height: 40px;
  }