<div class="title">Liste des oeuvres</div>

<form [formGroup]="regForm" >
    <div formGroupName="listeoeuvresFG">
        <button mat-raised-button color="primary" style="margin-top:5px; margin-bottom:5px;"  [disabled]="openformcreate" (click)="addOeuvre()">
            Ajouter une oeuvre
        </button>


        <div formArrayName="oeuvres">
            <div style="margin-top:5px; margin-bottom:5px;">
                <mat-accordion multi="false" panelState="expanded" togglePosition="after" displayMode="flat"
                    class="mat-table">
                    <section matSort class="mat-elevation-z2 mat-header-row">
                        <span class="mat-header-cell" mat-sort-header="vesselName">Titre oeuvre </span>
                        <span class="mat-header-cell" mat-sort-header="vesselId">Type</span>
                        <!-- <span class="mat-header-cell" mat-sort-header="vesselId">Durée</span> -->
                        <!-- <span class="mat-header-cell" mat-sort-header="vesselId">Fragement</span> -->
                    </section>
                    <mat-expansion-panel [expanded]="(isLast && openformcreate) "
                        *ngFor="let oeuvre of regForm['controls'].listeoeuvresFG['controls'].oeuvres['controls']; last as isLast let i=index"
                        formGroupName="{{i}}">
                        <mat-expansion-panel-header class=" mat-row">
                            <span class="mat-cell">{{oeuvre.get('titre_oeuvre').value}}</span>
                            <span class="mat-cell">{{oeuvre.get('type_oeuvre').value}}</span>
                            <!-- <span class="mat-cell">{{oeuvre.get('duree.hour').va)}} : </span> -->
                            <!-- <span class="mat-cell">{{oeuvre.get('fragement').value}} </span> -->

                            <mat-icon>date_range</mat-icon>
                        </mat-expansion-panel-header>

                        <div class="title-field"> Informations sur l'oeuvre</div>
                        <div class="row form-inline">
                            <div class="col-sm-6 ">
                                <mat-form-field [style.width.px]="300">
                                    <input matInput type="text" placeholder="Titre de l'oeuvre"
                                        formControlName="titre_oeuvre" style="margin-right:5px;" required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6 ">
                                <mat-form-field [style.width.px]="200">
                                    <mat-select placeholder="Type d'oeuvre" required formControlName="type_oeuvre">
                                        <mat-option *ngFor="let type_oeuvre of type_oeuvres"
                                            [value]="type_oeuvre.viewValue">
                                            {{type_oeuvre.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <div class="title-field">
                                    Durée : (hh:mm:ss)</div>
                                <ngb-timepicker formControlName="duree"></ngb-timepicker>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="title-field"> Fragement :</div>
                                <mat-radio-group formControlName="fragement">
                                    <mat-radio-button [value]="true">Oui</mat-radio-button>
                                    <mat-radio-button [value]="false">Non</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div class="pt-3"> Informations sur les Ayants-droit</div>
                        <div class="form-inline">
                            <div class="form-group">
                                <div formArrayName="ayants">
                                    <div style="margin-top:5px; margin-bottom:5px;"
                                        *ngFor="let lines of oeuvre.get('ayants').controls; let j=index">
                                        <div [formGroupName]="j">
                                            <div class="form-group">
                                                <label style="margin-right:5px;" class="col-form-label"
                                                    for="emailId">Ayant droit
                                                    {{j + 1}}</label>


                                                <select formControlName="profession" class="form-control"
                                                    style="margin-right:5px;">
                                                    <option value="" selected disabled hidden>
                                                        Profession
                                                    </option>
                                                    <option *ngFor="let i of ayant_droits" [value]="i.value">
                                                        {{i.value}}
                                                    </option>
                                                </select>
                                                <input formControlName="nom" class="form-control"
                                                    style="margin-right:5px;" placeholder="nom" id="nom" name="nom" />
                                                <input formControlName="prenom" class="form-control"
                                                    style="margin-right:5px;" placeholder="prenom" id="prenom"
                                                    name="prenom" />
                                                <button mat-icon-button
                                                    (click)="deleteAyant(oeuvre.controls.ayants, j)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                                <!-- <button mat-icon-button (click)="addAyant(oeuvre.controls.ayants)">
                                                    <mat-icon>person_add</mat-icon>
                                                </button> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button style="float: right;" mat-raised-button color="primary"
                                (click)="addAyant(oeuvre.controls.ayants)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un
                                ayant-droit
                            </button>
                        </div>

                        <mat-action-row>

                            <button mat-raised-button color="primary" style="margin-left:35px;"
                                (click)="deleteOeuvre(i)">
                                Supprimer l'oeuvre
                            </button>
                            
                            <button mat-raised-button color="primary" style="margin-left:35px;"
                            [disabled]="!regForm.get('listeoeuvresFG').get('oeuvres').valid" 
                            (click)="submitOeuvre()">
                            Enregistrer l'oeuvre

                        </button>

                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </div>
    </div>



    <button mat-raised-button matStepperPrevious style="float: left;">Précédent</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" style="float: right;">Enregistrer la demande
        d'autorisation</button>
    <button mat-raised-button [routerLink]="['']" style="float: right;">Annuler la demande</button>
    

</form>





<!--FIRST VERSION WITH TABLE BUT CONFLIT WITH DIALOG TABLE REACTIVE FORM 
    
    
    
    <form [formGroup]="regForm">
    <div formGroupName="listeoeuvresFG">
        <div class="title">Listes des oeuvres</div>

        <div class="container ">

            <button mat-button (click)="openDialog('Ajouter',{})" mat-flat-button color="primary">Ajouter une
                oeuvre</button>

            <button mat-button (click)=" json()" mat-flat-button color="primary">JSon
                oeuvre</button>

            <mat-table  [dataSource]="dataSource" #mytable
                class="my-table mat-elevation-z8 mt-4">


                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index; ">

                        {{element.id}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="titre_oeuvre">
                    <mat-header-cell *matHeaderCellDef>Titre oeuvre</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index; ">
                        {{element.titre_oeuvre}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type_oeuvre">
                    <mat-header-cell *matHeaderCellDef>Type oeuvre</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index; ">
                        {{element.type_oeuvre}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="duree">
                    <mat-header-cell *matHeaderCellDef>Durée</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index; ">
                        {{element.duree.hour | number : '2.0-0' }}:{{element.duree.minute | number : '2.0-0' }}:{{element.duree.second | number : '2.0-0' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fragement">
                    <mat-header-cell *matHeaderCellDef>Fragement</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index; ">
                        {{element.fragement}}
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="ayants">
                    <mat-header-cell *matHeaderCellDef>Ayants droit</mat-header-cell>
                    <mat-cell *matCellDef="let element ; let i = index; ">
                        <li *ngFor="let ayant of element.ayants">
                            <span> {{ayant.nom}} : {{ayant.profession}} </span>
                        </li>
                    </mat-cell>
                </ng-container>



                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="action-link">
                        <mat-icon (click)="openDialog('Modifier',element)">edit</mat-icon>
                        <mat-icon (click)="openDialog('Supprimer',element)">delete</mat-icon>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>

    <div class=" pt-5">
        <button mat-raised-button matStepperPrevious style="float: left;">Précédent</button>
        <button mat-raised-button color="primary" (click)="json()" style="float: right;">Enregistrer la demande
            d'autorisation</button>
    </div>

</form> -->