<div class="container">

        <h3>Dépôt d'une demande d'autorisation</h3>

        <form [formGroup]="registrationForm">

                <mat-horizontal-stepper labelPosition="bottom" #stepper>
                        <mat-step formGroupName="supportFG">
                                <!-- <mat-step formGroupName="supportFG" [stepControl]="supportFG">    -->
                                <ng-template matStepLabel>Support</ng-template>
                                <step1-informations-support [regForm]="registrationForm">
                                </step1-informations-support>
                        </mat-step>
                        <mat-step>
                                <ng-template matStepLabel>Quantités et prix de ventes</ng-template>
                                <step2-quantite-prix [regForm]="registrationForm">
                                </step2-quantite-prix>
                        </mat-step>
                        <mat-step>
                                <ng-template matStepLabel>Intervenants</ng-template>
                                <step3-intervenants [regForm]="registrationForm">
                                </step3-intervenants>
                        </mat-step>
                        <mat-step>
                                <ng-template matStepLabel>Cas particuliers</ng-template>
                                <step4-cas-particuliers [regForm]="registrationForm">
                                </step4-cas-particuliers>
                        </mat-step>
                        <mat-step>
                                <ng-template matStepLabel>Liste oeuvres</ng-template>
                                <step5-liste-oeuvres [regForm]="registrationForm">
                                </step5-liste-oeuvres>
                        </mat-step>
                </mat-horizontal-stepper>
        </form>
</div>