<h1 mat-dialog-title><strong>{{action}}</strong> une oeuvre</h1>

<div mat-dialog-content>
    <div *ngIf="action != 'Supprimer'; else elseTemplate">


        <div class="title-field"> Informations sur l'oeuvre</div>
        <div class="row form-inline">
            <div class="col-sm-6 ">
                <mat-form-field [style.width.px]="300">
                    <input matInput placeholder="Titre" [(ngModel)]="local_data.titre_oeuvre">
                </mat-form-field>

            </div>

        </div>



        <mat-form-field [style.width.px]="200">
            <mat-select placeholder="Type d'oeuvre" required [(ngModel)]="local_data.type_oeuvre">
                <mat-option *ngFor="let type_oeuvre of type_oeuvres" [value]="type_oeuvre.viewValue">
                    {{type_oeuvre.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <div class="row ">
            <div class="col-sm-6 ">
                <div class="title-field">
                    Durée : (hh:mm:ss)</div>

                <!-- <mat-form-field [style.width.px]="150">
                    <input type="time" matInput placeholder="minutes : secondes" [(ngModel)]="local_data.duree">
                </mat-form-field> -->

                <ngb-timepicker [(ngModel)]="local_data.duree"></ngb-timepicker>


            </div>
            <div class="col-sm-6 ">
                <div class="title-field"> Fragement :</div>
                <mat-radio-group [(ngModel)]="local_data.fragement">
                    <mat-radio-button [value]="true">Oui</mat-radio-button>
                    <mat-radio-button [value]="false">Non</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>


        <app-ayant-droit-table [data]="local_data.ayants" [regForm]="oeuvres"></app-ayant-droit-table>


    </div>
    <ng-template #elseTemplate>
        Supprimer l'oeuvre : <b>{{local_data.titre_oeuvre}}</b>?
    </ng-template>


</div>
<div class="pt-3">
    <button mat-button (click)="closeDialog()" mat-raised-button>Annuler</button>
    <button mat-button (click)="doAction()" mat-flat-button color="primary" style="float: right;">{{action}}</button>

</div>

<!-- <mat-form-field [style.width.px]="200">
            <mat-select placeholder="ayant_droit" required [(ngModel)]="local_data.profession">
                <mat-option *ngFor="let ayant_droit of ayant_droits" [value]="ayant_droit.viewValue">
                    {{ayant_droit.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->





<!--   <form [formGroup]="regForm" >
        <div formArrayName="ayants">
                <div     *ngFor="let x of get('ayants').controls; let j=index"> -->
<!-- <div [formGroupName]="j"> 
                        <div class="form-group">
                            <label>Ayant
                                {{j + 1}}</label>
                            <input formControlName="nom" class="form-control"
                                style="margin-right:5px;"  placeholder="nom" id="nom"
                                name="nom" />
                                <input formControlName="prenom" class="form-control"
                                style="margin-right:5px;" placeholder="nom" id="prenom"
                                name="prenom" />    
                        


                        </div>
                    </div>
                </div>
            </div> 
        </form>-->



<!-- <mat-form-field [style.width.px]="200">
            <input matInput placeholder="Nom" [(ngModel)]="local_data.nom">
        </mat-form-field> -->