.main-container {
  height: 1000px;
  margin-left: 0;
  max-width: 100%;
  }

.container {
  height: 100%;
  margin-left: 0;
  max-width: 100%;
  }

.sideright {
  width: 150px; 
}

.nav-link{
  color: white;
}
.sideleft {
  height: 500px;
}

.flex-flow-container {
  height: 100%;
}

.button-text-size {
  font-size: 30px;
}


/* .fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%  !important;
  background: white;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex
}  */


.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 4;
}


.stickyy {
  position: fixed;
  padding-top: 65px;
  overflow: hidden;
  z-index: 3;
  
}

.bgc-menu {
  background-color: white; 
}

.sideright{
  overflow: auto;
}