<div class="main-container">

    <app-headerfixed></app-headerfixed>

    <site-header></site-header>

    <app-navbar></app-navbar>



    <!-- this is the sticky menu -->
    <div class="container-fluid bgc-menu" #stickyMenu [class.sticky]="sticky">
        <div class="row">
            <div class="col-md-8 my-auto">
                <button mat-icon-button  (click)="sidenav1.toggle()">
                    <mat-icon>menu</mat-icon>
                    <span class="button-text-size"> MENU</span>
                </button>
            </div>
            <div class="col-md-4 my-auto text-right">
                <!-- Search form -->
                <mat-form-field class="search-form ">
                    <input matInput placeholder="Search " type="text">
                </mat-form-field>
                <button button="submit" mat-raised-button color="primary">
                    <mat-icon>search</mat-icon>
                </button>

                <!-- <form class="form-inline -form form-sm  mt-2">
                <mat-icon>search</mat-icon>
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form> -->
            </div>
        </div>
    </div>



    <mat-sidenav-container class="container" fxLayout="row"  >

        <mat-sidenav #sidenav1 mode="side" opened class="sideleft " fxFlex="30" [class.stickyy]="sticky" #stickysidenav >
            <app-sidenav ></app-sidenav>
        </mat-sidenav>

        <mat-sidenav #sideright opened mode="side" position="end" class="sideright" fxFlex="10">
            Liens
            <ul class="nav-item">
                <a class="nav-link" href="https://sdrm.sacem.fr/">La SDRM</a>
                <a class="nav-link" href="https://clients.sacem.fr/autorisations/production-de-disque-opo">La production de disque</a>
            </ul>
        </mat-sidenav>

        <mat-sidenav-content fxLayoutAlign="center " fxFlex="60" >
            <router-outlet ></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
    <site-footer></site-footer>

</div>






<!-- 
<app-depot-demande-autorisation>loading</app-depot-demande-autorisation> -->