.fixed-header {
  /* position: fixed; */
  top: 0;
  left: 0;
  /* z-index: 1; */
  width: 100%  !important;
  background: white;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex
} 