<div class="container-fluid">
  <div class="row">

    <div class="col-md-8">
      <a href="#"> <img alt="sdrm" src="assets/sdrm.png" width="100" height="100%"></a>
      <h1 class="title text-md-right" href="#"> LA PRODUCTION DE DISQUE - OEUVRE PAR OEUVRE </h1>
    </div>

    <div class="col-md-4 ">

      <!-- Search form -->
      <!-- <form class="form-inline md-form form-sm  mt-2">
        <mat-icon>search</mat-icon>
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
      </form> -->

    </div>
  </div>
</div>









<!-- <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" title="This Header is rendered by /app/_layout/site-header/site-header.component.html">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">sdrm</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Profil">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Aide">Aide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout">se connecter</a>
        </li>
      </ul>
    </div>
  </nav> -->