<form [formGroup]="regForm">
    <div formGroupName="intervenantFG">
        <div formGroupName="distributeurFG">

            <label class="col-sm-3 mt-4">Raison sociale</label>
            <div class=" ml-2">
                <mat-form-field class="col-sm-6" floatLabel="never">
                    <input required matInput placeholder="raison sociale" formControlName="raison_sociale">
                </mat-form-field>
            </div>

            <label class="col-sm-3 ">Adresse</label>
            <div class="form-inline form-group  ml-2">
                <mat-form-field class="col-sm-1">
                    <input type="number" required matInput placeholder="Numéro" formControlName="num_voie">
                </mat-form-field>
                <mat-form-field class="col-sm-2">
                    <mat-select placeholder="type" required formControlName="type_voie">
                        <mat-option *ngFor="let typevoie of typevoies" [value]="typevoie.viewValue">
                            {{typevoie.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-sm-5">
                    <input required matInput required placeholder="nom de la voie" formControlName="nom_voie">
                </mat-form-field>
            </div>
            <div class="form-inline form-group ml-2">
                <mat-form-field class="col-sm-2">
                    <input type="number"  required matInput maxlength="5" placeholder="Code postal" formControlName="code_postal">
                </mat-form-field>
                <mat-form-field class="col-sm-4">
                    <input required matInput placeholder="Ville" formControlName="ville">
                </mat-form-field>

                <mat-form-field class="col-sm-3">
                    <mat-select placeholder="pays" required formControlName="pays">
                        <mat-option *ngFor="let country of countries" [value]="country.CountryName">
                            {{country.CountryName}}
                        </mat-option>
                        <!-- <mat-option *ngFor="let country of countries.Countries" [value]="country">
                {{country.CountryName}}
            </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>


            <label class="col-sm-3 ">Coordonnées</label>
            <div class="form-inline form-group  ml-2">
                <mat-form-field class="col-sm-4">
                    <input   required matInput placeholder="Téléphone" formControlName="telephone" pattern="^[6-9]\d{9}$" maxlength="10">
                </mat-form-field>
                <mat-form-field class="col-sm-4">
                    <input type="tel"  required matInput placeholder="Fax" formControlName="fax">
                </mat-form-field>
            </div>
            <div class="form-inline form-group  ml-2">
                <mat-form-field class="col-sm-6">
                    <input  required matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>

        </div>
    </div>
</form>