@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; height: 100%; font-family: Roboto, Arial, sans-serif;}

