

.title{
    color: #c2185b ;
    font-size: 20px ;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .mat-radio-button{
    margin: 15px 15px; 
  }

  ::ng-deep .mat-tooltip{
    font-size: 14px !important ;
  }

  .precisions{
    font-size: 14px ;
  }


.show .display-text {
    visibility: hidden;
}
.show:hover .display-text  {
    visibility: visible;
    transition-delay:0.5s;
}
