<form [formGroup]="regForm">
    <div formGroupName="casparticuliersFG">
        <div class="title">Précisions sur des cas particuliers</div>
        <div class="container">
            <div class="row  align-items-center ">
                <div class="col-sm-8 ">
                    <div class="title-field">
                        Ayant-droit unique
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <mat-radio-group
                        matTooltip="Vrai si toutes les œuvres sont créées par le ou les mêmes ayants droits."
                        aria-label="selectionner une option" formControlName="ayant-droit">
                        <mat-radio-button value="v">Vrai</mat-radio-button>
                        <mat-radio-button value="f">Faux</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

    <div class="row form-inline">
        <div class="col-sm-8   ">
            <div class="title-field">
                Auto-production
            </div>
        </div>
        <div class="col-sm-4 ">
            <mat-radio-group matTooltip=" Vrai si la production, la création, la composition et l'édition de l'ensemble des œuvres
                            du support sont effectuées par une même personne ou un même groupe de personnes."
                aria-label="selectionner une option" formControlName="auto-prod">
                <mat-radio-button value="v">Vrai</mat-radio-button>
                <mat-radio-button value="f">Faux</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="row form-inline ">
        <div class="col-sm-8">
            Compilation
        </div>
        <div class="col-sm-4 ">
            <mat-radio-group matTooltip="Vrai si le support comprend plus de 50% d'œuvres protégées
                                ayant déjà fait l'objet d'un enregistrement commercialisé."
                aria-label="selectionner une option" formControlName="compilation">
                <mat-radio-button value="v">Vrai</mat-radio-button>
                <mat-radio-button value="f">Faux</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="row form-inline">
        <div class="col-sm-8 ">
            Reprise d'enregistrements existants
        </div>
        <div class="col-sm-4 ">
            <mat-radio-group matTooltip="Vrai si les œuvres proviennent d'enregistrements préexistants."
                aria-label="selectionner une option" formControlName="rep-enregistrement" [(ngModel)]="showref">
                <mat-radio-button value="v">Vrai</mat-radio-button>
                <mat-radio-button value="f">Faux</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>


    <div *ngIf="showref==='v'">
        Indiquer la (les) référence(s) du (des) enregistrement(s) repris :
        <mat-form-field class="col-8" floatLabel="never">
            <input matInput placeholder="" formControlName="reference-enregistrement-repris">
        </mat-form-field>
    </div>

    </div>
    </div>

    <button mat-raised-button matStepperPrevious style="float: left;">Précédent</button>
    <button mat-raised-button color="primary" matStepperNext (click)="json()" style="float: right;">Suivant</button>
</form>